@import '../../scss/variables.scss';

.HeaderRow {
    align-items: center;
    min-height: 100vh;
    background-image: url($header-bg-url);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.NavColumn {
    align-self: flex-start;

    @media (min-width: $breakpoint) {
        align-self: center;
    }
}
