@import '../../scss/variables.scss';

.HeaderRow {
    align-items: center;
    min-height: 100vh;
    background-image: url($header-bg-url);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.NavColumn {
    align-self: flex-start;

    @media (min-width: $breakpoint) {
        align-self: center;
    }
}

.ContentRow {
    align-items: center;
    background-color: $content-bg-color;
    min-height: 100vh;
    padding-bottom: 10px;
}

.Video {
    margin: auto;
    width: 70vw;
    height: auto;
    
    @media (min-width: $breakpoint) {
        width: 45vw;
    }
}

.Video video {
    width: 100%;
    height: auto;
    box-shadow: 0 0 5px white;
    border-radius: 10px;
    
    @media (min-width: $breakpoint) {
        width: 45vw;
    }
}

.TipsTitle {
    text-align: center;
    color: $preferred-color;
    font-size: 54px;
    margin: 0;
    padding: 5px;
    background: linear-gradient(to right, $content-bg-color, rgb(48, 39, 56), $content-bg-color);
}

.VideoTips {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0 0 10px white;
    border-radius: 10px;

    video {
        margin: 20px;
        width: 400px;
        height: 200px;
        box-shadow: 0 0 15px rgba(0, 9, 0, 0.5);
    }
}
