.AgentsHeader {
    width: 100%;
    min-height: 100vh;
    background-color: white;
    padding: 70px;
}

.Spliter {
    height: 20vh;
    background: linear-gradient(to top right, #1a1a26 50%, white 50%);
}

.AgentsContent {
    background-color: #1a1a26;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.Video {
    width: 600px;
    height: 338px;
    box-shadow: 0 0 5px white;
    border-radius: 10px;
}

.Video video {
    width: 600px;
    height: 338px;
    border-radius: 10px;
}

@media (min-width: 1374px) {
    .AgentsHeader {
        display: flex;
        justify-content: space-between;
    }

    .AgentsContent {
        flex-direction: row;
        justify-content: space-around;
    }

    .Video {
        width: 750px;
        height: 422px;
    }

    .Video video {
        width: 750px;
        height: 422px;
    }
}
