@import '../../scss/variables.scss';

.Abilities {
    width: 100%;
    color: $preferred-color;
    font-family: $font-stack;

    @media (min-width: $break-point) {
        width: 50%;
        margin: 20px;
    }
}

.AbilitiesTitle {
    text-align: center;
    font-weight: bold;
    font-size: 54px;
}

.AbilitiesImages {
    display: flex;
    margin: 25px;
    justify-content: space-around;
}

.AbilityDescription, .AbilityTitle {
    text-align: center;

    @media (min-width: $break-point) {
        text-align: left;
    }
}
