@import '../../scss/variables.scss';

.Abilities {
    color: $preferred-color;
    font-family: $font-stack;
}

.AbilitiesTitle {
    text-align: center;
    font-weight: bold;
    font-size: 54px;
}

.AbilitiesImages {
    width: 100%;
    display: flex;
    margin: 25px;
    justify-content: space-around;
}

.AbilityTitle {
    font-size: 24px;
}

.AbilityDescription {
    font-size: 18px;
}

.AbilityDescription, .AbilityTitle {
    text-align: center;

    @media (min-width: $breakpoint) {
        text-align: right;
    }
}
