*:focus {
    outline: none;
}

.Navigation {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Mukta', sans-serif;
    z-index: 1;
}

.Count {
    font-size: 20px;
    font-weight: normal;
}

.Navigation h3:active {
    cursor: grabbing;
}

.Link {
    text-decoration: none;
    cursor: pointer;
    font-size: 48px;
    color: white;
    font-weight: 700;
    transition-duration: 300ms;
}

.Link:hover {
    transform: translateX(20px);
}

.Active {
    text-shadow: 0 0 15px #0089f5 !important;
    transform: translateX(20px);
}

@media (min-width: 1374px) {
    .Navigation {
        margin-left: 100px;
        width: 430px;
        text-align: left;
    }
}
