@import '../../scss/variables.scss';
$active-color: #0089f5;

*:focus {
    outline: none;
}

.Navigation {
    text-align: center;
    overflow: hidden;
    border-bottom: 2px solid $active-color;

    @media (min-width: $breakpoint) {
        text-align: left;
        border: none;
    }
}

.LinkHeader {
    margin: 0;
    padding: 0;
    transition-duration: 300ms;

    &:hover {
        transform: scale(1.2);

        @media (min-width: $breakpoint) {
            transform: translateX(20px);
        }
    }
}

.Link {
    text-decoration: none;
    cursor: pointer;
    font-size: 36px;
    color: $preferred-color;
    font-family: $font-stack;
    font-weight: 700;

    &:hover {
        color: $preferred-color;
        text-decoration: none;
    }

    @media (min-width: $breakpoint) {
        font-size: 48px;
    }
}

.Count {
    font-size: 20px;
    font-weight: normal;
    display: none;
    
    @media (min-width: $breakpoint) {
        display: initial;
    }
}

.Active {
    transform: scale(1.2);
    text-shadow: 0 0 15px $active-color !important;

    @media (min-width: $breakpoint) {
        transform: translateX(20px);
    }
}
