@import '../../scss/variables.scss';

.AgentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @media (min-width: $breakpoint) {
        flex-wrap: nowrap;
    }
}

.AgentImage {
    max-height: 50vh;

    @media (min-width: $breakpoint) {
        max-height: 70vh;
    }
}

.AgentInfo {
    margin: 20px;
    color: $preferred-color;
    font-family: $font-stack;

    span {
        font-size: 18px !important;
    }

    p {
        font-size: 24px !important;
        margin: 5px !important;
    }
}
