@import '../../scss/variables.scss';

.AgentContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @media (min-width: $break-point) {
        width: 90%;
        justify-content: space-between;
        color: black;
        flex-wrap: nowrap;
    }
}

.AgentImage {
    max-height: 70vh;

    @media (min-width: $break-point) {
        height: 75%;
    }
}

.AgentInfo {
    font-size: 24px;
    margin: 20px;
    color: $preferred-color;
    font-family: $font-stack;
}
