.AgentContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.AgentInfo {
    font-size: 1.5em;
    margin: 20px;
}

.AgentImage {
    height: 75%;
}

@media (min-width: 1374px) {
    .AgentContainer {
        width: 90%;
        justify-content: space-between;
        color: black;
        flex-wrap: nowrap;
    }
}
