.AgentContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.AgentInfo {
    font-size: 24px;
    margin: 20px;
    color: #F3F3F3;
    font-family: 'Mukta', sans-serif;
}

.AgentImage {
    max-height: 70vh;
}

@media (min-width: 1374px) {
    .AgentContainer {
        width: 90%;
        justify-content: space-between;
        color: black;
        flex-wrap: nowrap;
    }

    .AgentImage {
        height: 75%;
    }
}
