@import '../../scss/variables.scss';
$border-color: #3a3a5e;

.MapContainer {
    margin: 5px;
    position: relative;
    cursor: pointer;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition-duration: 200ms;

    p {
        background: radial-gradient(white 40%, transparent);
        font-size: 24px;
        text-align: center;
        color: black;
        position: absolute;
        z-index: 5;
        top: 55px;
        left: 45px;
    }
    
    img {
        position: absolute;
        margin: auto;
        width: 150px;
        height: 150px;
        border: 3px solid $border-color;
        border-radius: 50%;
    }
    
    &:hover {
        box-shadow: 0 0 7px white;
    }
}

.Active {
    box-shadow: 0 0 10px white;
}
