.Ability {
    opacity: 0.5;
    margin: 7px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.Ability:hover {
    opacity: 1;
}

.Ability:active {
    border-radius: 30%;
    background-color: tomato;
}

.Active {
    opacity: 1;
}

.AbilityImage {
    height: 100px;
}