.Ability {
    opacity: 0.5;
    margin: 7px;
    cursor: pointer;
    transition-duration: 0.3s;

    &:hover {
        opacity: 1;
    }

    &:active {
        border-radius: 30%;
        background-color: tomato;
    }
}

.Active {
    opacity: 1;
    border-radius: 15%;
    transform: scale(1.2);
    background-color: tomato;
}

.AbilityImage {
    height: 70px;
    
    @media (min-width: 576px) {
        height: 100px;
    }
}
